@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: rgb(237, 18, 86);
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */
#navbar {
    width: 100%;
    background: rgb(237, 18, 86);
    color: #fff;
    height: 60px;
    position: fixed;
}

/* Elemento "filho" do navbar
colocar margin auto coloca o elemento automaticamente no centro
display flex coloca o elemento em linha 
space-between justifica um espaco entre o pai e filho*/
#navbar-container {
    width: 98%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li{
    padding: 10px;
}

/* Showcase - imagem 
VH - A medida vh e igual a 1/100 da altura da viewport. 
Entao, por exemplo, se a altura do navegador e 900px , 1vh equivale a 9px . 
E, analogamente, se a largura da viewport e 750px , 1vw equivale a 7.5px */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: last baseline;
    color: rgb(64, 64, 64);
    background: url(/imagens/imagem_showcase.jpg) no-repeat center/cover;
}

#showcase-container {
    text-align: center;
}
#showcase-container h2 {
    font-size: 2.5rem;
}
#showcase-container p {
    font-size: 1.2rem;
    padding-bottom: 7px 0;
}

/* About x
#features {
    width: 100%;
    background: #ff1493;
    color: #fff;
    padding: 50px;
}
#feature-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1.2fr);
    grid-column-gap: 25px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;    
}
*/
/* Product */
#product {
    width: 100%;
    background:  #fdf7f9;
    color: rgb(64, 64, 64);
    padding: 50px;
}
.product.iphone-x {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#items {
    width: 650px;
    
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

/* Clientes */
#clients {
    display: inline-block;
    width: 100%;
    background: #fff;
    color: rgb(64, 64, 64);
    padding: 50px;
}
/* display grid ele informa no numero de colunas o numero de fracao que o item ocupa. Ex 25% da div.  */
#clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.clients {
    display: inline-block;
    width: 40%;
}

/* Testimonials */
.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2 rem;
    background:  #f8e5ec;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#testimonials {
    width: 100%;
    background: #fdf7f9;
    color: rgb(64, 64, 64);
    padding: 50px;
}

#testimonials-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.testimonial .testimonial-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

/* Gallery 
#gallery {
    width: 90%;
    margin: auto;
    padding: 50px;
}

#gallery-contaoner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.gallery-image {
    display: inline-block;
    width: 540px;
    height: 360px;
    border-radius: 5px;
}
*/

/* Footer */
#footer {
    background: rgb(237, 18, 86);
    color: #fff;
    padding: 40px;
    text-align: center;
}
