@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*cor do fundo */
body {
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
#navbar {
    width: 100%;
    background: rgb(237, 18, 86);
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
}

/* Elemento "filho" do navbar*/
#navbar-container a,
ul {
    color: #fff;
    text-decoration: none;
}

#navbar-container {
    width: 98%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

/* Elemento "filho" do navbar*/
.container {
    margin-bottom: 40px;
    width: 85%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
}

/*cor do fundo da imagem */
.form-image {    
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8e5ec;
    padding: 1rem;
}

/*cor da imagem */
.form-image img {    
    width: 31rem;
}

/*cor do fundo do formulario */
.form {    
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #fff;
}

/*cor do titulo */
.form-header {    
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

  /* botão 
.home-button {  
    display: flex;
    align-items: center;
}*/
/* cor do botão 
.home-button button {    
    border: none;
    background-color: rgb(237, 18, 86);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}*/

/* cor do botão ao passar o mouse 
.home-button button:hover {    
    background-color: rgb(237, 18, 86);
}
*/
 /* cor do texto do botão 
.home-button button a {   
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
*/
/*cor da linha abaixo do titulo */
.form-header h1::after {    
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(237, 18, 86);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/*cor do fundo do input */
.input-group {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

/*cor do fundo do input */
.input-box {    
    display: flex;
    margin-bottom: 1.1rem;
    flex-direction: column;
}

/*cor do fundo do input */
.input-box input {    
    margin: 0.6rem 1.2rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

/*cor do fundo ao passar o mouse */
.input-box input:hover {
    background-color: #eeeeee75;    
}

/*cor da borda */
.input-box input:focus-visible {
    outline: 1px solid rgb(237, 18, 86);    
}

/*cor do texto do input nome, etc...*/
.input-box label {    
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

/*cor do texto do input */
.input-box input::placeholder {    
    color: #000000be;
}

/*cor do fundo do input  */
.label-select {    
    display: flex;
    justify-content: space-between;
    margin-top: 0.63rem;
    padding: 0 0.6rem;
}

/*cor do botão continuar */
.continue-button button {     
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgb(237, 18, 86);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    /*cor do botão continuar ao passar o mouse */
    background-color: rgb(255, 212, 220);
}

.continue-button button {
    /*cor do texto do botão continuar */
    text-decoration: none;
    color: #fff;
    font-size: 0.93rem;
    font-weight: 500;
}

.link-password {
    margin-top: 3px;
}
 
.signup-link {    
    margin-top: 5px;   
}   

/* Footer */
#footer {
    background: rgb(237, 18, 86);
    color: #fff;
    padding: 30px;
    bottom: 0;
    text-align: center;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    display: block;
    line-height: 12px;
}

/*deixar a imagem e o formulario responsivo */
@media screen and (max-width: 1330px) {    
    .container {
        width: 50%;
    }

    .form-image {
        display: none;
    }

    .form {
        width: 100%;
    }
}

/*deixar o formulario responsivo */
@media screen and (max-width: 1064px) {    
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
}

/*deixar o menu e footer responsivo */
@media screen and (max-width: 1064px) {
    #navbar {
        display: none;
    }

    #navbar-items {
        display: none;
    }

    #footer {
        display: none;
    }
}