@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.toppad {
  margin-top: 20px;
}

body {
  background-color: #fff !important;
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  width: 100%;
  background: rgb(237, 18, 86);
  color: #FFEAEA;
  height: 62px;
  top: 0;
  position: fixed;
}

#navbar-container {
  width: 98%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFEAEA;
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  color: #FFEAEA;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #FFEAEA;
}

#navbar-items li {
  padding: 10px;
  color: #FFEAEA;
}

.container {
  margin-bottom: 60px;
  padding: 60px; 
}

#footer {
  background: #FFEAEA;
  color: #000000be;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 40px;
}

/*deixar o menu e footer responsivo */
@media screen and (max-width: 1064px) {
  #navbar {
    display: none;
  }

  #navbar-items {
    display: none;
  }

  #footer {
    display: none;
  }
}