@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.toppad {
  margin-top: 20px;
}

body {
  background-color: #fff !important;
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  width: 100%;
  background: rgb(237, 18, 86);
  color: #FFEAEA;
  height: 62px;
  top: 0;
  position: fixed;
  text-decoration: none;
  z-index: 9999;
}

#navbar-container {
  width: 98%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFEAEA;
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  color: #FFEAEA;
  text-decoration: none;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #FFEAEA;
  text-decoration: none;
}

#navbar-items li {
  padding: 10px;
  color: #FFEAEA;
  text-decoration: none;
}

.container {
  padding: 60px;
  margin-top: 62px;
  background-color: #fff9fc;
}

#footer {
  background: #FFEAEA;
  color: #000000be;
  padding: 30px;
  bottom: 0;
  text-align: center;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  display: block;
  line-height: 10px;
}

/*deixar a imagem e o formulario responsivo */
@media screen and (max-width: 1330px) {
  .container {
    width: 50%;
  }

  .form-image {
    display: none;
  }

  .form {
    width: 100%;
  }
}

/*deixar o formulario responsivo */
@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }

  .form-image {
    display: none;
  }

  .form {
    width: 100%;
  }

  #navbar {
    display: none;
  }

  #navbar-items {
    display: none;
  }

  #footer {
    display: none;
  }


}