@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f2f2f2;
}

#navbar {
    background: rgb(237, 18, 86);
    color: #fff;
    padding: 15px 25px;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a  {    
    color: #fff;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;   
}

.logo {
    font-size: 2rem;    
}

#navbar-items {
    list-style: none;
    display: flex;
}

#navbar-items a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.container {
    width: 100%;
    max-width: 520px;
    flex-grow: 1;
    padding: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

#form-container {
    background-color: white;
    padding: 82px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);   
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;   
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

input {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #0000001c;
}

input:hover {
    background-color: #eeeeee75;
}

button {
    background: rgb(237, 18, 86);
    color: #fff;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 1rem; 
    width: 100%; 
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px #858585;    
}

button:hover {
    background: rgb(255, 212, 220);
}

.container-botao-voltar {
    height: 65px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

.botao-voltar {   
    color: #333333;
    padding: 5px 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;     
    text-transform: none;    
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.3s ease;
    width: 120px; 
    height: 0 auto;
    margin: 0 auto;  
}

/* Estilos quando o botão é hover (quando o cursor está em cima) */
.botao-voltar:hover {
    background-color: #c0bebe;
}

#message {
    text-align: center;
    margin-top: 12px;
    font-weight: bold;
    color: green;
}

#footer {
    background: rgb(237, 18, 86);
    color: #fff;
    padding: 17px;
    text-align: center;
  }

/* Responsividade */
@media screen and (max-width: 1064px) {
    .container {        
        width: 100%;
        height: auto;       
    }

    #form-container {
        padding: 20px;
        width: 100%;
        height: auto;
    }
    #navbar{
        display: flex; 
        justify-content: center;
        width: 100%; 
        height: auto;      
    }

    #navbar-items{
        display: flex;
        padding: 10px;
    }
}